.logo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
  color: var(--font-color-light);
}

.image-logo {
  fill: var(--font-color-light);
}

.project-form {
  display: flex;
  gap: 25px;
  color: var(--font-color-light);
  align-items: center;
}

.project-form > .form-section {
  display: grid;
  place-content: center;
  gap: 8px;
}

.create-project {
  height: 50px;
  width: 100px;
}
